# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Broken Dreams/Broken Dreams.csproj
Broken Dreams/Broken Dreams.Plugins.csproj
Broken Dreams/Broken Dreams.Editor.csproj
Broken Dreams/Broken Dreams.Editor.Plugins.csproj
Broken Dreams/Assets/Scenes/Game Scenes/Test Scenes/1_Starting Map/StartingMap - David.unity.meta
Broken Dreams/Assets/Scenes/Game Scenes/Test Scenes/1_Starting Map/StartingMap - Dani.unity.meta
*.suo
*.ide-wal
YWC Website/YWC Website/.vs/YWC Website/v15/Server/sqlite3/storage.ide-shm
*.ide-shm
*.ide-wal
YWC Website/YWC Website/.vs/YWC Website/v15/Server/sqlite3/storage.ide-shm
*.suo
YWC Website/YWC Website/.vs/YWC Website/v15/Server/sqlite3/storage.ide-shm
*.ide-wal
YWC Website/YWC Website/.vs/config/applicationhost.config
*.lock
YWC Website/YWC Website/YWC Website/vwd.webinfo
YWC Website/YWC Website/.vs/YWC Website/v15/.suo
