body {
    margin: 0px;
}

#container {
    width: 968px;
    margin: 0px auto;
}

/* HEADER section ========================== */

.header {
    background: #ffa5a5;
    height: 100px;
    width: 964px;
    border: solid 2px #000;
    color: black;
    text-align: center;
}

/* NAVIGATION section ====================== */

#nav ul{
    padding: 5px;
    list-style: none;
    text-align: right;
    background-color: #000;
    margin: 0;
}

#nav ul li {
    display:inline;
}

#nav ul li a {
    text-decoration: none;
    font-family: 'Open Sans';
    padding: .2em 1em;
    color: aliceblue;
    background-color: #000;
}

    #nav ul li a:hover {
        color:yellow;
        background-color: black;
    }



/* SIDEBAR ================================= */

.sidebar {
    float: left;
    width: 176px;
    height: 1200px;
    background: #99c2f5;
    border-left: solid 2px #000;
    border-bottom: solid 2px #000;
    border-bottom-left-radius: 1em;
}



/* MAIN ========================================= */

.main {
    float: left;
    width: 786px;
    height: 1200px;
    background: #e5e4d7;
    border-right: solid 2px #000;
    border-left: solid 2px #000;
    border-bottom: solid 2px #000;
    solid;
    font-family: Arial;
    font-size: 16px;
    overflow: auto;
    border-bottom-right-radius: 1em;
}

/* Mini content panel =========================== */

#box {
    background-color: #4e5a65;
    border: 2px solid #000;
    border-radius: 1em;
    font-size: 95%;
    padding: 10px;
    margin: 20px;
    width: 280px;
    color: white;
}

#buttonbox {
    background-color: yellow;
    border: 2px solid #000;
    border-radius: 1em;
    padding: 5px;
    margin: 10px;
    width: 100px;
    color: black;
}

.test {
    display: block;
    text-align: center;
}

/*ContentPage Text*/

.contentText {
    margin: 20px;
    font-size: 16px;
    line-height:1.2;
}

/*header Text*/

.headerText {
    margin: 20px;
    font-size: 20px;
    font-family:'Open Sans';
    line-height: 1.2;
}

/*BUTTON STYLE*/

#button {
    padding: 0px;
    text-align: center;
    background-color: transparent;
    margin: 0;
    font: bold;
}

    #button a {
        text-decoration: none;
        font-family: 'Open Sans';
        padding: .2em 1em;
        color: black;
    }

 #button a:hover {
    color: white;
}